table {
    border: 1px solid grey;
}
td:hover {
    background-color: greenyellow;
    color: black;
}
tr, th {
    background-color: black;
    color: cornsilk;
}
tr, td {
    background-color: darkblue;
    color: white;
}
